* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff9f2;
}

.header-global {
  background-color: #5a3a2e;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.header-inner {
  max-width: 2090px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.logo-header {
  height: 40px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 2090px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content {
  width: calc(100% - 300px);
  margin-bottom: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-cover {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("./assets/imgs/hover.webp");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.logo {
  height: 80px;
}

.logo-with-reviews-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ab916c3c;
  border-radius: 4px;
  padding: 0 5px 2px 5px;
  cursor: pointer;
}

.reviews img {
  width: 24px;
}

.kuchen-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translate(0, 40%);
}

.kuchen {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 8px #fff9f2;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/*food sections*/
.food-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subhead-container {
  height: 60px;
  background-color: #5a3a2e;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 35px;
}

.subhead-container-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 2090px;
  margin: auto;
  transform: translate(0, -10%);
}

.subhead-icon {
  width: 70px;
  object-fit: contain;
  background: none;
}

/*footer*/
.footer-global {
  background-color: #5a3a2e;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 100%;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

.bottom-nav button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
}

.bottom-nav img {
  height: 30px;
  display: block;
}

/*dialog*/
.dialog-mode {
  border-radius: 12px;
  border: 1px solid #ab916c23;
  width: 90%;
  max-width: 500px;
  max-height: 300px;
  margin: auto;
}

dialog{
  text-align: center;
}

.dialog-mode-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: auto;
}

dialog::backdrop {
  background: rgba(5, 22, 32, 0.8);
  backdrop-filter: blur(5px);
}

.dialog-img{
  width: 100px;
}

.footer-dialog{
  margin-top: 20px;
}