.burger {
  width: 40px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 4px;
  background: #ffffff;
  border-radius: 4px;
  transition:
    background-color 0.35s ease,
    transform 0.25s ease;
}

.burger:hover span {
  background-color: #bc986a;
}

.burger:hover span:nth-child(1) {
  transform: translateX(4px);
}

.burger:hover span:nth-child(3) {
  transform: translateX(-4px);
}

.add-to-basket-button{
    background-color: #89503684;
    padding: 8px;
    border: solid 0 #5a482e;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.add-to-basket-button:hover{
    background-color: #895036c0;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.buy-button{
    background-color: #89503684;
    padding: 14px;
    border: solid 0 #5a482e;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.buy-button:hover{
    background-color: #895036c0;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
    transition: background-color 0.2s ease, transform 0.2s ease;
}