@font-face {
    font-family: "Palanquin";
    src: url("../assets/fonts/Palanquin/Palanquin-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Palanquin";
    src: url("../assets/fonts/Palanquin/Palanquin-Regular.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Palanquin";
    src: url("../assets/fonts/Palanquin/Palanquin-SemiBold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {    
    font-family: "Palanquin Dark";
    src: url("../assets/fonts/Palanquin_Dark/PalanquinDark-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

a, footer p{
    text-decoration: none;
    color: #ffffffce;
    font-family: 'Times New Roman', serif;
    transition: color 0.2s ease, transform 0.2s ease;
}

a:hover{
    color: #bc986a;
}

.header-inner p {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

.header-inner p span {
    color: rgba(177, 135, 81, 0.856);
}

body {
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5A3A2E;
}

h1 {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #5A3A2E;
}

h1 span {
    color: rgba(177, 135, 81, 0.855);
}

.reviews {
    font-size: 18px;
}

.reviews span {
    color: #5a3a2e7c;
}

.headline {
    font-size: 24px;
    text-align: center;
}

/*food section*/
.subhead {
    color: white;
    font-family: "Palanquin";
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-family: "Palanquin", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #5A3A2E;

}

.description {
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 16px;
    color: #5A3A2E;
}

.food-card-buttons p {
    font-family: "Palanquin";
    font-weight: 600;
    font-size: 24px;
}

/*footer*/
footer {
    color: white;
    font-family: "Palanquin";
    font-size: 18px;
    font-weight: 400;
}

/* basket */
.basket{
    font-family: "Palanquin";
    font-weight: 500;
    font-size: 18px;
}