.menu-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.food-card{
    height: 140px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    background-color: #ab916c29;
    border-radius: 12px;
    max-width: 1440px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    margin-right: 16px;
}

.food-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #ab916c38;
}

.food-card-img{
    width: 250px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.food-card-info{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    gap: 15px;
}

.food-card-title-with-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.food-card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}