.menu-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.food-card{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #ab916c3c;
    border-radius: 12px;
    margin-left: 80px;
    margin-right: 80px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.food-card-img{
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
}

.food-card-title-with-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-card-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}