@media (min-width: 2090px) {
  .subhead-container-inner {
    padding-left: 0;
  }

  footer {
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .header-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1025px) and (max-width: 2090px) {
  .subhead-container-inner {
    padding-left: 150px;
  }

  footer {
    padding-bottom: 0;
  }
}

@media (min-width: 1025px) {
  .bottom-nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  .food-card-img {
    width: 250px;
  }

  .basket-wrapper {
    display: flex;
    background-color: white;
    position: fixed;
    bottom: -100%;
    height: 100vh;
    width: 100%;
    transition: bottom 0.3s ease-in-out;
    z-index: 1000;
  }

  .basket-mobile{
    bottom: 0;
    top: 0;
  }

  .basket{
    width: 100%;
    padding-top: 80px;
    max-height: 90vh;
  }

  .desktop-basket-header{
    display: none;
  }

  .content {
    width: 100%;
    margin-bottom: 50px;
  }

  .subhead-container {
    gap: 2px;
    margin-top: 0;
    padding-left: 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .basket-close-header {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .content {
    width: auto;
  }

  header {
    height: 80px;
  }

  .header-inner {
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 0;
    padding-right: 0;
  }

  .burger {
    display: none;
  }

  .hero-cover {
    height: 350px;
    margin: 16px;
    border-radius: 16px;
  }

  .kuchen {
    width: 120px;
    height: 120px;
  }

  .headline-container {
    margin-top: 70px;
  }

  .headline {
    margin-block-start: 0;
  }

  .logo-with-reviews-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .food-card {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
  }

  .subhead-container {
    gap: 2px;
    margin-top: 0;
    padding-left: 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .subhead {
    font-size: 32px;
  }

  .food-card-img {
    width: 100%;
    height: 150px;
    flex-shrink: 0;
  }

  .food-card-info {
    flex-direction: column;
    gap: 10px;
  }

  .food-card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }

  footer {
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 5px;
    padding: 20px 20px 100px 20px;
  }
}